!!! 5
html.no-js(lang="en")
  head
    title Årsplan for #{base}
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    link(rel="stylesheet", href="css/#{version}/yearplan.css")
    link(rel="stylesheet", href="css/#{version}/workbook.css")
    link(rel="stylesheet", href="css/yearplan-menu.css")
    //script(type="text/javascript",src="js/sh_main.min.js")
    //script(type="text/javascript",src="js/sh_javascript.min.js")
    //link(type="text/css",rel="stylesheet",href="css/sh_nedit.css")
    link(rel="stylesheet", href="css/prettify.css")
    script(type="text/javascript", src="js/prettify.js")
    script(type="text/javascript", src="js/d3.v2.js")
    link(rel="stylesheet", href="css/ui-lightness/jquery-ui-1.8.17.custom.css")
    //link(rel="stylesheet", type="text/css", href="http://jsxgraph.uni-bayreuth.de/distrib/jsxgraph.css")
    //script(type="text/javascript",src="http://cdnjs.cloudflare.com/ajax/libs/jsxgraph/0.92/jsxgraphcore.js")
    script(type="text/javascript", src="js/mathjax/MathJax.js?config=default")
    link(rel="icon",       href="img/favicon.ico", type="image/x-icon")
    //!= foo
    //script(src="js/libs/modernizr-1.6.min.js")
    script
      var mybase="#{base}";
  body
    header
    #container
      #header
        h1#htitle #{mytitle} &nbsp; 
          span#yyear #{schoolyear}
      body!= body
    footer
    script(src="js/jquery-1.7.1.js")
    script(src="js/#{version}/jbbq.min.js")
    script(src="js/tooltip.min.js")
    script(src="js/#{version}/jedi.js")
    script(src="js/#{version}/plans.js")
    script(src="js/#{version}/rediger.js")
    script(src="js/#{version}/rom.js")
    script(src="js/#{version}/starbkurs.js")
    script(src="js/#{version}/utils.js")
    script(src="js/#{version}/timetables.js")
    script(src="js/#{version}/meetings.js")
    script(src="js/#{version}/quiz.js")
    script(src="js/#{version}/workbook.js")
    script(src="js/#{version}/bortfall.js")
    script(src="js/#{version}/courseeditor.js")
    script(src="js/#{version}/lineplot.js")
    script(src="js/#{version}/tickets.js")
    script(src="js/#{version}/setup01.js")
    script(src="js/mylibs/jquery-ui-1.8.17.custom.min.js")
    script(src="js/jquery.ui.touch-punch.min.js")
