!!! 5
// - var foo = '<link rel="stylesheet" href="/static/css/' + cacheTimeStamps.css + '/style.css?v=2">' 
// - var bar = '<script src="/static/js/' + cacheTimeStamps.js + '/client.js" type="text/javascript"></script>';
html.no-js(lang="en")
  head
    title Studiearbeidstid 2011/2012
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width initial-scale=1.0")
    link(rel="stylesheet", href="css/starb.css")
    link(rel="stylesheet", href="css/ui-lightness/jquery-ui-1.8.6.custom.css")
  body
    header
    #container
      span#uui.hidden!= userid
      span#logged.hidden!= loggedin
      span#julday.hidden!= julday
      span#uname.hidden!= username
      span#firstname.hidden!= firstname
      span#lastname.hidden!= lastname
      body!= body
    footer
    script(src="js/mylibs/jquery-1.4.2.min.js")
    script(src="js/mylibs/jquery-ui-1.8.7.custom.min.js")
    script(src="js/mylibs/utils.js")
    script(src="js/mylibs/starbreg01.js")
